a:visited {
  color: #19bbbb;
}
a:hover {
  text-decoration: none;
  color: firebrick;
}
main {
  background-color: rgb(253, 155, 148);
  text-align: center;
  padding: 12px;
  width: 50%;
  margin: 12px auto;
  border-radius: 10px;
  border: 2px solid black;
  margin-top: 200px;
  box-shadow: 1px 1px 4px black;
}
body {
  text-align: center;
  background-color: rgb(255, 236, 236);
}
#first {
  font-size: 30px;
}
#second {
  font-size: 50px;
}
a {
  text-decoration: none;
  font-size: 20px;
  display: inline-block;
  margin-top: 25px;
}
img {
  border: 2px solid black;
  height: 200px;
  width: 200px;
  border-radius: 100px;
  margin-top: -120px;
}
span{
  color: rgb(66, 2, 2);
}