h1 {
  color: rgb(0, 0, 189);
  margin-top: 50px;
  font-size: 50px;
}
body {
  background-color: rgb(242, 229, 253);
  font-family: "Roboto", sans-serif;
}
h2 {
  color: rgb(242, 229, 253);
  font-weight: 900;
}
main {
  background-color: rgb(44, 44, 240);
  border-radius: 10px;
  width: 700px;
  margin: 25px auto;
  padding: 15px;
  color: white;
}
header img {
  width: 170px;
  height: 100px;
  margin: 20px 0;
}
li {
  list-style-type: none;
  padding-left: 15px;
  margin: 10px 0;
  border-left:  5px solid transparent;
}
.highlighted {
  color: hsl(41, 100%, 56%);
  font-weight: 900;
  border-color: hsl(41, 100%, 56%);
}
a {
  background-color: hsla(41, 100%, 50%, 0.966);
  text-decoration: none;
  padding: 7.5px 15px;
  border-radius: 4px;
}
header, footer {
  text-align: center;
}
ul {
    margin: 0;
    padding: 0;
}
span{
    background-color: hsl(41, 100%, 56%);
    color: rgb(2, 2, 85);
    padding: 3px; 
    border-radius: 2px;
}
